@use '../../styles/theme.scss';

$prefix: #{$prefixCls}-form-item;

.#{$prefix} {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 4px;
  &-label {
    label {
      cursor: text;
    }
  }
}
.#{$prefix}-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.#{$prefix}-column {
  display: flex;
  flex-direction: column;
  // align-items: center;
  align-content: center;
}

.#{$prefix}-error {
  color: $error-color;
}

.#{$prefix}-label {
  position: relative;
  display: flex;
  align-content: center;
  min-height: 25px;

  &-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-tooltip {
    cursor: help;

    * {
      cursor: help;
    }

    label {
      border-bottom: 1px dashed currentColor;
    }
  }
}

.#{$prefix}-label-align-left {
  > .#{$prefix}-label {
    justify-content: flex-start;
  }
}
.#{$prefix}-label-align-right {
  > .#{$prefix}-label {
    justify-content: flex-end;
  }
}

.#{$prefix}-label-wrap {
  .#{$prefix}-label {
    label {
      white-space: pre-line;
      word-break: break-all;
    }
  }
}

.#{$prefix}-control {
  flex: 1;
  max-width: 100%;

  .#{$prefix}-control-content {
    display: flex;

    .#{$prefix}-control-content-component {
      width: 100%;

      &-has-feedback-icon {
        flex: 1;
        position: relative;
        display: flex;
        align-items: center;
      }
    }

    .#{$prefix}-addon-before {
      margin-right: 8px;
      display: inline-flex;
      align-items: center;
      flex-shrink: 0;
    }

    .#{$prefix}-addon-after {
      margin-left: 8px;
      display: inline-flex;
      align-items: center;
      flex-shrink: 0;
    }
  }

  .#{$prefix}-help,
  .#{$prefix}-extra {
    min-height: 22px;
    line-height: 22px;
  }
}


.#{$prefix}-label-tooltip-icon {
  margin-left: 4px;
  color: #00000073;
  display: flex;
  align-items: center;

  span {
    display: inline-flex;
  }
}

.#{$prefix}-control-align-left {
  .#{$prefix}-control-content {
    justify-content: flex-start;
  }
}

.#{$prefix}-control-align-right {
  .#{$prefix}-control-content {
    justify-content: flex-end;
  }
}

.#{$prefix}-control-wrap {
  .#{$prefix}-control {
    white-space: pre-line;
    word-break: break-all;
  }
}

.#{$prefix}-required {
  color: $error-color;
  margin-right: 4px;
  display: inline-block;
  font-family: SimSun, sans-serif;
}

.#{$prefix}-colon {
  margin-left: 2px;
  margin-right: 4px;
}

.#{$prefix}-help,
.#{$prefix}-extra {
  clear: both;
  // min-height: @form-item-margin-bottom - 2;
  color: rgba(0, 0, 0, 0.45);
  transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  padding-top: 0px;
}

.#{$prefix}-fullness {
  > .#{$prefix}-control {
    > .#{$prefix}-control-content {
      > .#{$prefix}-control-content-component {
        > *:first-child {
          width: 100%;
        }
      }
    }
  }
}

.#{$prefix}-control-content-component-has-feedback-icon {
  border-radius: 2px;
  // border: 1px solid @border-color-base;
  padding-right: 8px;
  transition: all 0.3s;
  touch-action: manipulation;
  outline: none;
}

.#{$prefix}-error {
  &:not([disabled]):hover {
    border-color: $error-color;
  }
  
}

.#{$prefix}-error-help {
  color: $error-color;
}

.#{$prefix}-warning-help {
  color: $warning-color;
}

.#{$prefix}-success-help {
  color: $success-color;
}
.#{$prefix}-default-help {
  color: theme.$card-text-color;
}

.#{$prefix}-blank-help {
  color: transparent;
}
