$primary-color: #1677ff;

$info-color: $primary-color;
$error-color: #f44336;
$warning-color: #faad14;
$success-color: #52c41a;


$white:#fff;
$black: #000;

// 自定义的
$primary-5: #408fff;
$primary-7: #006aff;