@use 'def.scss';
@use 'color.scss';

$card-text-color: #616161;

$background-color-light: #d9d9d9; // background of header and selected item
$background-color-base: #f5f5f5; // Default grey background color

// Disabled states
$disabled-color: #404040;
$disabled-bg: $background-color-base;
$disabled-active-bg: #e6e6e6;
$disabled-color-dark: #a6a6a6;


// Border color
$border-color-base: #d9d9d9; // base border outline a component
$border-color-split: #f0f0f0; // split border inside a component
$border-color-inverse: color.$white;
$border-width-base: 1px; // width of the border for a component
$border-style-base: solid; // style of a components border
$border-radius-base: 2px;
$border-radius-sm: 2px;
$border-radius-md: 4px;


// vertical paddings
$padding-lg: 24px; // containers
$padding-md: 16px; // small containers and buttons
$padding-sm: 12px; // Form controls and items
$padding-xs: 8px; // small items
$padding-xss: 4px; // more small

// vertical margins
$margin-lg: 24px; // containers
$margin-md: 16px; // small containers and buttons
$margin-sm: 12px; // Form controls and items
$margin-xs: 8px; // small items
$margin-xss: 4px; // more small

$text-color: #262626;
$text-color-secondary: #8c8c8c;
$text-color-inverse: color.$white;
$icon-color: inherit;
$icon-color-hover: #404040;
$heading-color: #262626;
$text-color-dark: #d9d9d9;
$text-color-secondary-dark: #a6a6a6;
$text-selection-bg: color.$primary-color;
$font-variant-base: tabular-nums;
$font-feature-settings-base: 'tnum';
$font-size-base: 14px;
$font-size-lg: $font-size-base + 2px;
$font-size-sm: 12px;


$line-height-base: 1.5715;

// Upload
// ---
$upload-actions-color: $text-color-secondary;


$item-hover-bg: #f5f5f5;

// Animation
$animation-duration-slow: 0.3s; // Modal
$animation-duration-base: 0.2s;
$animation-duration-fast: 0.1s; // Tooltip


$ease-base-out: cubic-bezier(0.7, 0.3, 0.1, 1);
$ease-base-in: cubic-bezier(0.9, 0, 0.3, 0.7);
$ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
$ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
$ease-in-out-back: cubic-bezier(0.71, -0.46, 0.29, 1.46);
$ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.34);
$ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);