@import '../../styles/theme.scss';

$upload-prefix-cls: #{$prefixCls}-upload;

.#{$upload-prefix-cls} {
  margin: 0;
  padding: 0;
  color: $text-color;
  font-size: $font-size-base;
  font-variant: $font-variant-base;
  line-height: $line-height-base;
  list-style: none;
  font-feature-settings: $font-feature-settings-base;
  &-error {
    color: $error-color !important;
    &:hover {
      color: $error-color !important;
      opacity: 1;
    }
  }
  &-list {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $text-color;
    font-size: $font-size-base;
    font-variant: $font-variant-base;
    line-height: $line-height-base;
    list-style: none;
    transition: background-color 0.3s;
    font-feature-settings: $font-feature-settings-base;
    &::before {
      display: table;
      content: '';
    }

    &::after {
      display: table;
      clear: both;
      content: '';
    }
    line-height: $line-height-base;
    &-item {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      padding-left: $margin-xs;
      padding-right: $margin-xs;
      margin-top: $margin-xss;
      margin-bottom: $margin-xss;
      transition: opacity $animation-duration-slow, height $animation-duration-slow;
      border: $border-width-base $border-style-base $border-color-base;
      border-radius: $border-radius-md;
      &:hover {
        background-color: $item-hover-bg;
        border-color: $text-color-secondary;
        opacity: 1;
      }
      &::before {
        display: table;
        width: 0;
        height: 0;
        content: '';
      }

      &-thumbnail {
        display: flex;
        width: 48px;
        height: 48px;
        justify-content: center;
        line-height: 60px;
        align-items: center;
        opacity: 0.8;
        margin-right: 4px;
        color: $primary-5;
        cursor: pointer;
        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }
      }
      &-thumbnail-file {
        cursor: default;
      }
      &-name {
        color: $text-color;
        flex: 1;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 $padding-xs;
      }
      &-action-icon {
        transition: opacity $animation-duration-slow;
        position: static;
        flex: none;
        color: $text-color;
        right: 0;
        opacity: 0.4;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
    }
    
    &-item-error {
      border-color: $error-color;
      border-style: dashed;
    }
  } 
}